@import url(https://fonts.googleapis.com/css?family=Poppins);
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: beige;
    margin:10px ;
    font-family: "poppins","Lucida Sans", sans-serif;
}

.modules-tab{
    text-decoration-style: none;
    list-style-type: none;
}

.container-fluid{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    display: flex;
}

.L_panel{

    background-color: aquamarine;
    text-align: right;
    margin: auto;
    height: 100vh;
}
.prof_pic{
    height: 80px;
    width: 80px;
    border: solid 1px black;
    border-radius: 50px; 
    background-color: rgb(80, 80, 80);
    overflow: hidden;
    padding: 0px,10px;
    margin: auto;
    margin-top: 50%;
}

.username{
    margin: auto;
    text-align: center;margin-top: 20px;
}

.nav_btn{
    background-color: beige;
    width: 30vw;
    word-wrap: initial;
    text-decoration: none;
}

.dashboard{
    background-color: rgb(196, 196, 196);
    text-align: center;
    margin: auto;
    height: 90vh;
    display: grid;
    grid-column: 1/3;
    grid-row: 1/3;
}


